@model IEnumerable<YGCGanpati.Models.UserAnswer>

@{
    ViewBag.Title = "Play Quiz";
}

<h2>@ViewBag.Title</h2>

@{ 
    DateTime dt = DateTime.MinValue;
}

@using (Html.BeginForm("Quiz", "Play", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()    
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group pull-right">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>

<table class="table table-condensed">
@foreach (var item in Model)
{
        if (item.DisplayDate != dt)
        {
            <tr>
              <td style="width:100px;">
                @if (item.Answers != null)
                {
                  <a href="javascript:;"><span class="glyphicon glyphicon-plus"></span> Date: @item.DisplayDate.ToShortDateString()</a>
                }
                else
                {
                  <a href="javascript:;"><span class="glyphicon glyphicon-minus"></span> Date: @item.DisplayDate.ToShortDateString()</a>
                }

            </tr>
            dt = item.DisplayDate;
        }
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question)
            <ol>
                <li>
                    @if (item.Answers == null)
                    {
                        @Html.RadioButton(item.QuestionID.ToString(), item.Option1, false)
                    }
                    else if (item.Answers == 1)
                    {
                        @Html.RadioButton("opt_" + item.QuestionID.ToString(), item.Option1, true, new { @disabled = "disabled" })
                    }
                    else
                    {
                        @Html.RadioButton("opt_" + item.QuestionID.ToString(), item.Option1, false, new { @disabled = "disabled" })
                    }
                    @Html.DisplayFor(modelItem => item.Option1)
                </li>

                <li>
                    @if (item.Answers == null)
                    {
                        @Html.RadioButton(item.QuestionID.ToString(), item.Option2, false)
                    }
                    else if (item.Answers == 2)
                    {
                        @Html.RadioButton("opt_" + item.QuestionID.ToString(), item.Option2, true, new { @disabled = "disabled" })
                    }
                    else
                    {
                        @Html.RadioButton("opt_" + item.QuestionID.ToString(), item.Option2, false, new { @disabled = "disabled" })
                    }
                    @Html.DisplayFor(modelItem => item.Option2)
                </li>

                <li>
                    @if (item.Answers == null)
                    {
                        @Html.RadioButton(item.QuestionID.ToString(), item.Option3, false)
                    }
                    else if (item.Answers == 3)
                    {
                        @Html.RadioButton("opt_" + item.QuestionID.ToString(), item.Option3, true, new { @disabled = "disabled" })
                    }
                    else
                    {
                        @Html.RadioButton("opt_" + item.QuestionID.ToString(), item.Option3, false, new { @disabled = "disabled" })
                    }
                    @Html.DisplayFor(modelItem => item.Option3)
                </li>

                <li>
                    @if (item.Answers == null)
                    {
                        @Html.RadioButton(item.QuestionID.ToString(), item.Option4, false)
                    }
                    else if (item.Answers == 4)
                    {
                        @Html.RadioButton("opt_" + item.QuestionID.ToString(), item.Option4, true, new { @disabled = "disabled" })
                    }
                    else
                    {
                        @Html.RadioButton("opt_" + item.QuestionID.ToString(), item.Option4, false, new { @disabled = "disabled" })
                    }
                    @Html.DisplayFor(modelItem => item.Option4)
                </li>
            </ol>


        </td>
    </tr>
}
</table>

}