@model IEnumerable<YGCGanpati.Models.Expense>

@{
    ViewBag.Title = "Expense";
}

<h2><i class="glyphicon glyphicon-share"></i> @ViewBag.Title</h2>

@if (User.IsInRole("Admin") | User.IsInRole("Manager"))
{
    <div class="pull-right">
        &nbsp;  <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus"></span> Add New</a>
    </div>
}




<table id="tbl" class="table table-sm table-hover table-condensed table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseAmount)
            </th>
            @if (User.IsInRole("Admin") | User.IsInRole("Manager"))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseAmount)
                </td>
                @if (User.IsInRole("Admin") | User.IsInRole("Manager"))
                {
                    <td>
                        <a href="@Url.Action("Details", new { id = item.ExpenseID })"><span class="glyphicon glyphicon-info-sign"></span></a>
                        <a href="@Url.Action("Edit", new { id = item.ExpenseID })"><span class="glyphicon glyphicon-edit"></span></a>
                        <a href="@Url.Action("Delete", new { id = item.ExpenseID })"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

