@model YGCGanpati.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<hr />
<div>    
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {                
                @Html.ActionLink("Create", "SetPassword")                
            }
            ]
        </dd> 
        <dt>Profile:</dt>
        <dd>            
            [
                @Html.ActionLink("Update Profile", "MyProfile")
            ]
        </dd>        
    </dl>
</div>
