@{
    ViewBag.Title = "YGC Ganpati";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@
<style>
    .box {

    }

    .box a {
        text-decoration:none;
        color:white;
    }
</style>

<div class="row box">
    <div class="col-sm-3 col-xs-6 text-center" style="padding:10px; background-color:#00c0ef; border:solid 1px white;">
        <a href="@Url.Action("Index","Quiz")">
            <div><i class="fa fa-question-circle fa-5x"></i></div>
            <div><b>Quiz</b></div>
        </a>
    </div>
    <div class="col-sm-3 col-xs-6 text-center" style="padding:10px; background-color:#D4AC0D;border:solid 1px white;">
        <a href="@Url.Action("Winner", "Quiz")">
            <div><i class="fa fa-gift  fa-5x"></i></div>
            <div><b>Winner</b></div>
        </a>
    </div>
    <div class="col-sm-3 col-xs-6 text-center" style="padding:10px; background-color:#f39c12; border:solid 1px white;" >
        <a href="@Url.Action("Index","Event")">
            <div><i class="fa fa-calendar  fa-5x"></i></div>
            <div><b>Events</b></div>
        </a>
    </div>
    <div class="col-sm-3 col-xs-6 text-center" style="padding:10px; background-color:#A569BD; border:solid 1px white;">
        <a href="@Url.Action("Balance","Home")">
            <div><i class="fa fa-bank  fa-5x"></i></div>
            <div><b>Account</b></div>
        </a>
    </div>
    <div class="col-sm-3 col-xs-6 text-center bg-success" style="padding:10px; background-color:#00a65a; border:solid 1px white;">
        <a href="@Url.Action("Index","Collection")">
            <div><i class="fa fa-check-square  fa-5x"></i></div>
            <div><b>Collection</b></div>
        </a>
    </div>
    <div class="col-sm-3 col-xs-6 text-center bg-info" style="padding:10px; background-color:#dd4b39; border:solid 1px white;">
        <a href="@Url.Action("Index","Expense")">
            <div><i class="fa fa-share  fa-5x"></i></div>
            <div><b>Expenses</b></div>
        </a>
    </div>
    <div class="col-sm-3 col-xs-6 text-center bg-warning" style="padding:10px;background-color:#5DADE2; border:solid 1px white;">
        <a href="@Url.Action("Index","Sponser")">
            <div><i class="fa fa-star fa-5x"></i></div>
            <div><b>Sponsers</b></div>
        </a>
    </div>
    <div class="col-sm-3 col-xs-6 text-center bg-info" style="padding:10px;background-color:#FF6F00; border:solid 1px white;">
        <a href="@Url.Action("Users","Manage")">
            <div><i class="fa fa-users  fa-5x"></i></div>
            <div><b>Members</b></div>
        </a>
    </div>
    
</div>