@model YGCGanpati.Models.Collection

@{
    ViewBag.Title = "Collection Details";
}

<h2>Collection Details</h2>

<div>  
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FlatNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlatNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollectionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollectionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
@if (User.IsInRole("Admin") | User.IsInRole("Manager"))
{
    <dt>
        Collected By
    </dt>
    <dd>
        @Html.DisplayFor(model => model.UserProfile.Name)
    </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
}
    </dl>
</div>
<p>                                                                         
    @Html.ActionLink("Back to List", "Index")
</p>
